 <div class="footer">
                <span>コメント数:</span>
                <span>14</span>
                <span>リツイート:</span>
                <span>14</span>
                <span>いいね:</span>
                <span>14</span>
</div>