/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    font-family: Arial, sans-serif;
    background-color: #F5F8FA;
    color: #14171A;
}

h1 {
    background-color: #1DA1F2;
    color: white;
    padding: 10px 0;
    text-align: center;
}

li {
    list-style-type: none;
}

#container {
  display: grid;
  grid-template-areas: 
    "sidebar header"
    "sidebar content"
    "sidebar footer";
  grid-template-rows: auto 1fr 1fr;
  grid-template-columns: 1fr 5fr;
  height: 100vh;
}

#header {
  grid-area: header;
}

#sidebar {
  grid-area: sidebar;
}

#content {
  grid-area: content;
}

#footer {
  grid-area: footer;
}



.tweet {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    width: 100%;
    background-color: white;
}

.button {
  display: inline-block;
  padding: 10px 10px;
  font-size: 10px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  background-color: #008CBA;
  border: none;
  border-radius: 50px;
  transition: all 0.5s;
}

.button:hover {
  background-color: #4CAF50; 
  color: white; 
}

nav a {
    text-decoration: none; 
    color: black;
}

nav a:hover {
    text-decoration: underline; /* ホバー時に下線を表示 */
    text-decoration-color: blue; /* 下線の色を青にする */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    
}

.dropdown:hover .dropdown-content {
    display: block;
}

div.footer span {
    font-size: 30px;
}


